*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #010B1D;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 3em;
    width: 90%;
    margin: auto;
}
img{
   object-fit: cover;
   width: 500px;
}
.form-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form-item{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 70%;
    text-align: center;
}